.container {
  height: calc(100vh - 120px);
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-width: 420px;
  width: 100%;
  gap: 2rem;
  scroll-snap-type: y mandatory;
}
