.container {
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo a,
.logoMobile a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a i,
.logoMobile a i {
  font-size: 1.5rem;
}

.logo a h4,
.logoMobile a h4 {
  font-size: 1.5rem;
}

.logoMobile {
  display: none;
}

.options {
  display: flex;
  gap: 1rem;
}

.mobile {
  display: none;
  gap: 0.5rem;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 30px;
  padding: 0 0.2rem;
  overflow: hidden;
}

.iconWrapper {
  width: 30px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper i {
  font-size: 0.9rem;
  cursor: pointer;
}

.search input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.2rem;
  color: var(--text-light);
  font-weight: 500;
  width: 100%;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 300px;
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  z-index: 10;
}

.menu span {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.menu span:hover {
  background-color: rgba(100, 100, 100, 0.2);
}

.menu.light {
  background-color: var(--bg-light);
  color: var(--txt-dark);
}

.menu.dark {
  background-color: var(--bg-dark);
  color: var(--txt-light);
}

.sideBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgba(100, 100, 100, 0.2);
  cursor: pointer;
}

@media (max-width: 580px) {
  .logo {
    display: none;
  }

  .logoMobile {
    display: flex;
  }

  .options {
    display: none;
  }

  .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 280px) {
}
